@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <h4>SportsPro Technical Support</h4>
    <p>Sports mangement software for the sports enthusiast</p>
    <br/>


    <div class="panel-group">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h4>Admin</h4>
            </div>
            <div class="panel-body" style="padding:0px;">

                <table class="table table-bordered" style="margin-bottom:0px;">

                    <tbody>
                        <tr><td><a asp-controller="Products" asp-action="Index">Manage Products</a></td></tr>
                        <tr><td><a asp-controller="Technicians" asp-action="Index">Manage Technicians</a></td></tr>
                        <tr><td><a asp-controller="Customers" asp-action="Index">Manage Customers</a></td></tr>
                        <tr><td><a asp-controller="Incidents" asp-action="Index">Manage Incidents</a></td></tr>
                        <tr><td><a asp-controller="Home" asp-action="Contact">Manage Registrations</a></td></tr>
                    </tbody>

                </table>

            </div>
        </div>
        <br />
        @*<table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name;
                    </td>
                </tr>
            }
        </table>
        <br />*@
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Technicians</h4>
            </div>

            <div class="panel-body" style="padding:0px;">

                <table class="table table-bordered" style="margin-bottom:0px;">

                    <tbody>
                        <tr><td><a asp-controller="TechIncident" asp-action="Get">Update Incident</a></td></tr>
                    </tbody>

                </table>
            </div>

        </div>


    </div>
   



</div>