@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <h4>SportsPro Technical Support</h4>
    <p>Sports mangement software for the sports enthusiast</p>
    <br/>


    <div class="panel-group">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h4>Admin</h4>
            </div>
            <div class="panel-body" style="padding:0px;">

                <table class="table table-bordered" style="margin-bottom:0px;">

                    <tbody>
                        <tr><td><a href="">Manage Products</a></td></tr>
                        <tr><td><a href="">Manage Technicians</a></td></tr>
                        <tr><td><a href="">Manage Customers</a></td></tr>
                        <tr><td><a href="">Manage Incidents</a></td></tr>
                        <tr><td><a href="">Manage Registrations</a></td></tr>
                    </tbody>

                </table>

            </div>
        </div>
        <br />
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Technicians</h4>
            </div>

            <div class="panel-body" style="padding:0px;">

                <table class="table table-bordered" style="margin-bottom:0px;">

                    <tbody>
                        <tr><td><a href="">Update Incident</a></td></tr>
                    </tbody>

                </table>
            </div>

        </div>


    </div>
   



</div>