@model Technician
@{
    ViewBag.Title = "Delete Technician";
}

<h3>Are you sure in <strong>deletion</strong> of this Technician?</h3>
<h4>@Model.Technicianname (@Model.Technicianemail)</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianId" />
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Technician" asp-action="List" class="btn btn-primary">Cancel</a>
</form>


