@model Customer
@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="Firstname" class="col-sm-2 col-form-label">First Name: </label>
        <div class="col-sm-10">
            <input asp-for="Firstname" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Lastname" class="col-sm-2 col-form-label">Last Name: </label>
        <div class="col-sm-10">
            <input asp-for="Lastname" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Address" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-10">
            <input type="text" asp-for="Address" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="City" class="col-sm-2 col-form-label">City: </label>
        <div class="col-sm-10">
            <input asp-for="City" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="State" class="col-sm-2 col-form-label">State: </label>
        <div class="col-sm-10">
            <input asp-for="State" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Postalcode" class="col-sm-2 col-form-label">Postal Code: </label>
        <div class="col-sm-10">
            <input maxlength="6" asp-for="Postalcode" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CountryId" class="col-sm-2 col-form-label">Country: </label>
        <div class="col-sm-10">
            <select asp-for="CountryId" class="form-control custom-select-lg">
                <option value="">-----select a country-----</option>
                @foreach (Country c in ViewBag.Countries)
                {
                    <option value="@c.CountryId">@c.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
            <input type="email" asp-for="Email" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Phone" class="col-sm-2 col-form-label">Phone Number: </label>
        <div class="col-sm-10">
            <input maxlength="10" asp-for="Phone" class="form-control">
        </div>
    </div>

   
    <input type="hidden" asp-for="CustomerId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Customer" asp-action="List" class="btn btn-primary">Cancel</a>
</form>