@model Customer
@{
    ViewBag.Title = "Delete Customer";
}

<h3>Are you sure in <strong>deletion</strong> of this customer?</h3>
<h4>@Model.Firstname @Model.Lastname (@Model.Email)</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

